.header {
    padding: 31px 0 63px 0;
}

.header__block {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 2fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 45px;
    
}

.header__logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #2D2D2D;
    letter-spacing: 0.06em;
    line-height: 41px;
    letter-spacing: 0.06em;
}

.header__logo-blue {
    color: #3670C7;
}

.header__menu {
    background: #3670C7;
    border-radius: 10px;
    padding: 9px 28px 12px 61px;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    position: relative;
}

.header__menu::after {
    content: "";
    background-image: url("assets/img/menu.svg");
    width: 18px;
    height: 12px;
    position: absolute;
    top: 16px;
    left: 32px;
}

.header__form {
    position: relative;
}


.header__input {
    width: 700px;
    display: block;
    background: #EFEFEF;
    border-radius: 30px;
    padding: 15px 0 18px 40px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #8F8F8F;
}

.header__search {
    background: #3670C7;
    border-radius: 30px;
    padding: 10px 37px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.header__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: unset;
    align-items: end;
    justify-items: center;
    
}

.header__item {
    text-align: center;
}

.header__link {
display: block;
color: #2D2D2D;
font-size: 16px;
font-weight: 700;
margin-right: 10px;
position: relative;

}

.header__icon {
    display: block;
    padding: 0 15px;
    margin-bottom: 10px;
}

.header__icon-number::after {
    content: " 2 ";
    color:  #3670C7;
    font-size: 14px;
    background-color: #FFFFFF;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    
    
}

@media(max-width: 1024px) {
    .header {
        padding: 44px 0 30px 0;
    }
    
    .header__block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: start;
        grid-template-areas: 
        "header__logo header__nav"
        "header__menu header__form";
        grid-area: 1 / 1 / 2 / 2;
        gap: 34px;
    }

    .header__logo {
        grid-area: header__logo;
    }

    .header__nav {
        grid-area: header__nav;
        margin-left: auto;
    }

    .header__menu {
        grid-area: header__menu;
        margin-right: 40px;
        
    }

    .header__form {
        grid-area: header__form;
    }

    .header__input {
        width: 750px;
    }

}

@media(max-width: 768px) {
    .header {
        padding: 28px 0 20px 0;
    }

    .header__logo {
        font-size: 26px;
    }

    .header__input {
        width: 550px;
        padding: 10px 0 13px 40px;
    }

    .header__search {
        padding: 5px 30px;
    }

    .header__menu {
        padding: 9px 28px 12px 45px;
        font-size: 16px;
    }

    .header__menu::after {
        content: "";
        top: 12px;
        left: 21px;
    }

    .header__link {
        font-size: 12px;
    }

    .banner__notebook-text {
        font-size: 30px;
        margin-bottom: 82px;
    
    }

    .banner__timer-number {
        font-size: 30px;
        padding-right: 6px;
    }

    .banner__timer-text {
        font-size: 16px;
    
    }
}

@media(max-width: 320px) {
    .header {
        padding: 20px 0 41px 0;
    }

    .header__block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: start;
        grid-template-areas: 
        "header__logo header__logo"
        "header__menu header__nav"
        "header__form header__form";
        gap: 34px;
    }

    .header__logo {
        font-size: 18px;
        grid-area: 1 / 1 / 2 / 2;
    }

    .header__input {
        width: 300px;
        padding: 8px 0 10px 20px;
        font-size: 8px;
    }

    .header__search {
    padding: 5px 15px;
    } 

    .header__search-img {
    width: 15px;
    height: 15px;
    }

    .header__link {
        font-size: 0;
    }

    .header__icon {
        display: block;
        padding: 0 8px;
    }

    .header__menu {
    padding: 9px 27px 11px;
    font-size: 12px;
    border-radius: 6px;
    }

    .header__menu::after {
    content: "";
    top: 11px;
    left: 9px;
    width: 14px;
    height: 12px;
    }

    .header__item {
    margin-left: 5px;
    }

}
