.hero__bg {
    background-image: url("assets/img/banner.jpg");
    background-position: center;
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: block;
    padding: 149px 111px 34px;
}

.hero__link {
    display: flex;
    flex-direction: column;
}

.hero__timer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero__timer-wrapper {
    display: flex;
}

.hero__timer-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-right: 30px;
}

.hero__timer-item:last-child {
    margin: 0;
}


.hero__notebook-text {
    font-weight: 700;
    font-size: 70px;
    line-height: 130%;
    margin-bottom: 95px;
}

.hero__timer-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.hero__timer-number {
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    padding-right: 6px;
}

.hero__timer-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
}

@media(max-width: 1024px) {
    .hero__bg {
        padding: 92px 112px 60px;
    }

    .hero__notebook-text {
        font-size: 40px;
        margin-bottom: 11px;
        max-width: 320px;
    }

    .hero__timer-number {
        font-size: 40px;
        padding-right: 6px;
    }

    .hero__timer-text {
        font-size: 20px;
    }
}

@media(max-width: 768px) {

    .hero__notebook-text {
        font-size: 30px;
        margin-bottom: 82px;
    }

    .hero__timer-number {
        font-size: 30px;
        padding-right: 6px;
    }

    .hero__timer-text {
        font-size: 16px;
    
    }
}

@media(max-width: 500px) {

    .hero__bg {
        padding: 44px 29px 30px;
    }

    .hero__timer-item {
        margin-right: 8px;
    }

    .hero__notebook-text {
        font-size: 22px;
        margin-bottom: 189px;
    
    }

    .hero__timer-title {
        font-size: 8px;
    }

    .hero__timer-number {
        font-size: 20px;
        padding-right: 2px;
    }

    .hero__timer-text {
        font-size: 12px;
    
    }
}
