@font-face {
    font-family: 'Lato';
    src: local("Lato"), local("Lato-Regular"), 
    url('fonts/lato-regular.woff2') format("woff2"), 
    url('fonts/lato-regular.woff') format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local("Lato Bold"), local("Lato-Bold"), 
    url('fonts/lato-bold.woff2') format("woff2"), 
    url('fonts/lato-bold.woff') format("woff");
    font-weight: 700;
    font-display: swap;
}

html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body { 
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #FFFFFF; 
    min-width: 320px;
    min-height: 100vh;
}

img, svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: 1870px;
    margin: 0 auto;
    padding: 0 50px;
}

.section {
    padding: 30px 0;
}


@media(max-width: 1024px) {
    .container {
        padding: 0 42px;
    }

    .section {
        padding: 11px 0;
    }
}

@media(max-width: 768px) {
    .container {
        padding: 0 34px;
    }

    .section {
        padding: 20px 0;
    }
}

@media(max-width: 320px) {
    .container {
        padding: 0 20px;
    }

    .section {
        padding: 10px 0;
    }
}
